.env
.env.development.local
*.env

__pycache__/
*.pyc
*.pyo
*.pyd

.pytest_cache/
*.log

nginx/
storage/
backend/storage/
temp/

node_modules/
dist/
*.tsbuildinfo
.vite/
coverage/
*.cache

.DS_Store
.vscode/
*.swp
*.swo

celerybeat-schedule
*.bak
*.backup
*.bck

npm-debug.log
yarn-error.log

*.pid
*.pid.lock

*.zip
*.tar.gz
